.hero {
  --hero-button-padding: #{$padding-1} #{$padding-3};
  --hero-button-font-size: #{$font-size-l};
  --hero-title-size: #{$font-size-5xl};
  --hero-subtitle-size: #{$font-size-3xl};
  --hero-min-height: calc(100vh - 11.7rem);
  justify-content: center;
  align-items: center;
  padding-top: $padding-8;
  padding-bottom: $padding-8;
  min-height: var(--hero-min-height);
  z-index: 1;
  background-color: $color-pink-600;
  position: relative;
}

.hero-image,
.hero-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.hero-title {
  font-size: var(--hero-title-size);

  color: $color-white;
  background: $color-black;
  padding: 0 1rem;

  .highlight {
    color: $color-pink-500;
    background-color: transparent;
  }
}

.hero-subtitle {
  font-size: var(--hero-subtitle-size);
  color: $color-white;
  margin-top: $margin-2;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;
}

.hero-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $gap-3;

  > .button {
    padding: var(--hero-button-padding);
    font-size: var(--hero-button-font-size);
    margin: 0;
  }
}

.stat {
  display: flex;
  align-items: center;
  gap: $gap-2;
}

.stat-label {
  font-size: $font-size-l;
  text-transform: uppercase;
  line-height: $line-height-6;
  color: $color-gray-600;
  font-weight: bold;
  &.light {
    color: $color-white;
  }
}

.stat-value {
  font-size: $font-size-xl;
  font-weight: bold;
  line-height: $line-height-snug;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $color-pink-800;
  color: $color-white;
  text-shadow: 2px 2px 0 $color-pink-900;
  backdrop-filter: blur(5px);
  padding: $padding-4 $padding-0;
  gap: $gap-3;
  & .stat {
    --stat-value-max-font-size: #{$font-size-4xl};
    --stat-label-max-font-size: #{$font-size-2xl};
  }
  & .stat-label {
    line-height: $line-height-normal;
  }
}

.dejavu-videos {
  display: grid;
  gap: $gap-4;
  grid-auto-rows: 1fr;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(45%, 560px));
  align-self: stretch;
  margin: $margin-4 0;
}

.dejavu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border-width-1 solid $color-border;
  border-radius: $border-radius;
  background-color: $color-gray-100;
  padding: $padding-4;
  font-size: $font-size-l;
  max-width: 100%;
  text-align: center;
  transition: background-color $transition-duration-1 ease-out;
  text-decoration: none;
  &:hover {
    background-color: $color-gray-200;
  }
}

// comment to force github actions to run
.collaborator {
  white-space: nowrap;
  opacity: 0.6;
  transition: opacity $transition-duration-1 ease-out;
  filter: grayscale(100%);

  &:hover,
  &:focus,
  &:active {
    filter: none;
    opacity: 1;
  }
}

.collaborator-logo {
  max-width: 100%;
  max-height: 3.75rem;
}

.sponsor-category {
  text-transform: uppercase;
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: $margin-4;
  border-bottom: 2px solid $color-gray-800;
  padding: $padding-1 $padding-2;

  &.diamond {
    border-color: $color-red-500;
  }
  &.gold {
    border-color: $color-yellow-500;
  }
  &.silver {
    border-color: $color-gray-600;
  }
  &.supporter {
    border-color: $color-gray-500;
  }
}

// sponsors CSS extracted from
// https://ishadeed.com/article/aligning-logos-css/
.sponsors {
  --sponsor-logo-width: 190px;
  --sponsor-logo-height: 60px;
  --multiplier: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsor {
  padding: $padding-2 $padding-4;
  border-radius: 0 0 $border-radius $border-radius;
  border: 1px solid transparent;
  display: flex;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-blue-400;
  }

  & :is(img, svg) {
    display: block;
    max-width: 100%;
    width: calc(var(--sponsor-logo-width) * var(--multiplier));
    height: calc(var(--sponsor-logo-height) * var(--multiplier));
    object-fit: contain;
    max-height: none;
  }

  & picture {
    display: flex;
  }
}

.diamond {
  --multiplier: 1.8;
}

.platinum {
  --multiplier: 1.5;
}

.gold {
  --multiplier: 1.2;
}

.silver {
}

.bronze {
}

// patch for this specific logo
.rsi {
  --multiplier: 0.7;
}

@include medium {
  .hero {
    --hero-button-padding: #{$padding-2} #{$padding-4};
    --hero-button-font-size: #{$font-size-xl};
    --hero-title-size: #{$font-size-7xl};
    --hero-subtitle-size: #{$font-size-4xl};
    --hero-min-height: calc(100vh - 9.7rem);
  }

  .hero-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-4;
  }

  .stats {
    flex-direction: row;
    justify-content: space-evenly;
    padding: $padding-8 $padding-0;
  }

  .dejavu-videos {
    grid-template-columns: repeat(4, 25%);
    margin: $margin-4 $margin-6;
  }

  .dejavu-link {
    width: 100%;
  }

  p {
    font-size: $font-size-2xl;
  }

  .stats .stat-label {
    line-height: $line-height-10;
  }
  .stat-label {
    font-size: $font-size-xl;
  }
  .stat-value {
    font-size: $font-size-2xl;
  }
}

// animate text as we scroll
//@supports (animation-timeline: view()) {
.animate-with-scroll {
  & > span {
    display: inline-block;
    opacity: 0.2;
    //filter: saturate(0.1) brightness(0.5);
    //view-timeline: --subjectReveal block;
    animation-timeline: view();
    animation-name: highlight-text;
    animation-fill-mode: both;
    animation-duration: 1ms;
  }

  & > span:nth-of-type(1) {
    animation-range: cover 0% cover 65%;
  }
  & > span:nth-of-type(2) {
    animation-range: cover 45% cover 120%;
  }
}

@keyframes highlight-text {
  50% {
    opacity: 1;
    //rotate: 90deg;
  }
}
//}
