.wave::after {
  display: block;
  content: "";
  width: 100%;
  position: relative;
  top: -2px;
  height: 200px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1850 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(47, 73, 94, 1)" d="M 0 48 C 455.5 48 455.5 169 911 169 L 911 169 L 911 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 910 169 C 1380 169 1380 0 1850 0 L 1850 0 L 1850 0 L 910 0 Z" stroke-width="0"></path> </svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1849px) {
  .wave::after {
    background-size: contain;
  }
}

.horse-separator {
  background-repeat: no-repeat;
  background-image: url("/img/horse.webp");
  background-size: cover;
  height: 300px;
  background-position: 50%;
  @include medium {
    height: 400px;
  }
}

.camera-separator {
  background-repeat: no-repeat;
  background-image: url("/img/camera.webp");
  background-size: cover;
  height: 300px;
  background-position-y: 20%;
  @include medium {
    height: 400px;
  }
  @include large {
    background-position-y: 25%;
  }
}
