$color-footer-bg: $color-pink-800;
$color-footer-bg-theme-2: $color-pink-900;
$color-footer-link: $color-topbar-fg;
$color-footer-title: $color-yellow-400;
$color-footer-link-hover: $color-yellow-400;
$footer-padding: $padding-10 $padding-5;
$footer-logo-width: 125px;

footer {
  // when there is no content, creates separation with the left menu. Find other options.
  // margin-top: $footer-padding;
  background: $color-footer-bg;
  width: 100%;
  color: $color-footer-link;
}

.footer-row {
  padding: $footer-padding;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 2rem;
  &.theme-2 {
    background: $color-footer-bg-theme-2;
  }
}
.footer-column-title {
  margin-bottom: $margin-3;
  text-transform: uppercase;
  color: $color-footer-title;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: $font-size-m;
}
.footer-link {
  color: $color-footer-link;
  transition: color $transition-duration-1 ease;
  margin: $margin-3 0;
  display: block;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-footer-link-hover;
    text-decoration: underline;
  }
}

.logo-footer {
  width: $footer-logo-width;
  height: 25px;
  text-indent: -1000px;
  overflow: hidden;
  display: block;
  background: url("/svg/wlogo.svg") no-repeat;
  background-size: contain;
  margin-right: $margin-5;
}

.extrema {
  width: 143px;
  height: 25px;
  display: inline-block;
  text-indent: -100000px;
  overflow: hidden;
  background: url(/img/extrema.png) no-repeat;
  background-size: contain;
}
