// Lists
$list-side-margin: $margin-5;
ul,
ol,
dl {
  list-style-type: square;
  margin-left: $list-side-margin;
  margin-bottom: $margin-4;
}
ul {
  // use a square as bullet
  &.unstyled {
    list-style-type: none;
    margin: 0 0 $margin-4 0;
  }
}

/* Ordered Lists */
ol {
  list-style-type: decimal;
  margin-left: $list-side-margin;
}

/* Definition Lists */
dl {
  dt {
    font-weight: bold;
  }
}
