.video-link {
  background-color: $color-black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;

  &::before {
    content: ".";
    display: block;
    flex-grow: 1;
  }

  &:hover {
    .video-play {
      fill: $color-brand-youtube;
    }
    .video-img {
      filter: brightness(1);
    }
  }
}

.video-title {
  color: $color-white;
  font-weight: bold;
  font-size: $font-size-m;
  z-index: 1;
  text-align: center;
  text-shadow: 0 0 10px rgb(0 0 0 / 90%);
  margin: 1rem;
  align-self: stretch;
  justify-self: stretch;
  flex-grow: 1;

  // https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-play {
  --video-play-size: 50px;
  --video-play-color: #{$color-gray-600};
  width: var(--video-play-size);
  height: var(--video-play-size);
  max-width: var(--video-play-size);
  fill: var(--video-play-color);
  transition: fill $transition-duration-1 ease-out;
  z-index: 1;
}

.video-img,
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-img {
  filter: brightness(0.6);
  transition: filter $transition-duration-1 ease-out;
}

.video-img {
  border-radius: 1rem;
}

/*
.youtube-player-container {
  margin: $margin-8 auto $margin-0;
  --youtube-player-maxwidth: 500px;
  max-width: var(--youtube-player-maxwidth);
}

.video-preview {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.video-preview-hover {
  display: flex;
  z-index: 2;
  transition: background-color $transition-duration-1 ease-out;
  cursor: pointer;
  &:hover {
    .video-play {
      fill: $color-brand-youtube;
    }
  }
}

.video-play {
  --video-play-size: 50px;
  --video-play-color: #{$color-gray-600};
  width: var(--video-play-size);
  height: var(--video-play-size);
  max-width: var(--video-play-size);
  flex-shrink: 0; // do not reduce when used in a flex container
  margin: auto;
  fill: var(--video-play-color);
  transition: fill $transition-duration-1 ease-out;
}

.video-iframe,
.video-preview-hover,
.video-preview-img,
.video-preview-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
}

.video-preview-title {
  display: -webkit-box;
  height: 3.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: $padding-1 $padding-2;
  color: $color-white;
  line-height: 1.35rem;
  font-size: $font-size-l;
  background-color: rgba($color-black, 0.8);
}

.video-preview-img {
  z-index: 1;
  max-width: 100%;
}

.video-iframe {
  z-index: 4;
}

@include medium {
  .video-preview-title {
    -webkit-line-clamp: 2;
  }
  .video-play {
    --video-play-size: 70px;
  }
}

@include large {
  .youtube-player-container {
    margin: $margin-0;
    --youtube-player-maxwidth: 100%;
  }
}
*/
