---
Title: Inicio
permalink: /
---
{% extends "layouts/base.njk" %} 
{% block content %} 
  {% include "partials/hero.njk" %}
  {% include "partials/stats.njk" %}
  {% include "partials/theme.njk" %}
  {% include "partials/summary.njk" %}
  {% include "partials/sponsors-summary.njk" %}
  {% include "partials/diversity.njk" %}
  {% include "partials/dejavu.njk" %}
  {% include "partials/communities.njk" %}
  {% include "partials/newsletter.njk" %}
{% endblock %}
