<meta itemprop="url" content="{{site.baseUrl}}">
<meta itemprop="image" content="{{site.baseUrl}}/img/horse.jpg">
<meta itemprop="startDate" content="2024-04-19T08:00">
<meta itemprop="endDate" content="2024-04-20T18:30">
<meta itemprop="eventStatus" content="EventScheduled">
<div itemprop="location" itemscope="" itemtype="http://schema.org/Place">
  <meta itemprop="name" content="Universidad CEU San Pablo">
  <meta itemprop="address" content="Universidad CEU San Pablo, Campus de Montepríncipe. Boadilla del Monte, Madrid">
  <meta itemprop="url" content="https://goo.gl/maps/X5eoF">
</div>
<div class="hero content flex-row items-center">
  <div class="hero-text flex-grow flex-column items-center">
    <h1 class="hero-title no-margin uppercase text-center" itemprop="name">
      Commit <span class="highlight">Conf</span>
    </h1>
    <p class="hero-subtitle uppercase text-center">{{LocationAndDate}}</p>
      <div class="hero-actions margin-top">
      
        <a href="{{site.c4pURL}}" class="button primary uppercase">
          {{C4P}}
          <br/><span class="small">{{C4PButtonDetails}}</span>
        </a>    
        <a href="{{site.ticketsURL}}" class="button uppercase">{{Tickets}}
          <br/><span class="small">{{TicketSellingButtonDetails}}</span>
        </a>   
      </div>
  </div>
</div>