<meta itemprop="url" content="{{site.baseUrl}}">
<meta itemprop="image" content="{{site.baseUrl}}/img/background.jpg">
<meta itemprop="startDate" content="2024-04-21T08:00">
<meta itemprop="endDate" content="2024-04-22T18:30">
<meta itemprop="eventStatus" content="EventScheduled">
<div itemprop="location" itemscope="" itemtype="http://schema.org/Place">
  <meta itemprop="name" content="Universidad CEU San Pablo">
  <meta itemprop="address" content="Universidad CEU San Pablo, Campus de Montepríncipe. Boadilla del Monte, Madrid">
  <meta itemprop="url" content="https://goo.gl/maps/X5eoF">
</div>
<div class="hero content flex-row items-center">
  <picture aria-hidden class="hero-image">
    <source srcset="/img/hero-large.avif" type="image/avif">
    <source srcset="/img/hero-large.jpg">
    <img src="/img/hero-large.jpg" alt="" />
  </picture>
  <div class="hero-text flex-grow flex-column items-center">
    <h1 class="hero-title no-margin uppercase" itemprop="name">
      Commit <span class="highlight">Conf</span>
    </h1>
    <p class="hero-subtitle uppercase text-center">{{LocationAndDate}}</p>
      <div class="hero-actions flex-row flex-wrap items-center justify-center">
      {#  
      
        <a href="{{site.c4pURL}}" class="button primary uppercase">
          {{C4P}}
          <br/><span class="small">{{C4POpening}}</span>
        </a>      
        <a href="{{site.ticketsURL}}" class="button uppercase">{{Tickets}}
          <br/><span class="small">{{TicketSellingStarts}}</span>
        </a>  
      #}
      </div>
  </div>
</div>