<section class="content padding-top-10 padding-bottom-10">

  <div class="text-center">
    <h1>{{2024ThemeTitle}}</h1>
    <p class="subheader">{{2024ThemeSubtitle}}</p>
  </div>
  <div class="limited-large grid items-center">
    <div>
      {{2024ThemeDesc | safe}}
    </div>
    <img class="theme-image" src="/img/AI.jpg">
  </div>

</section>